.timer
    padding-top: 45px
    &__wrapper
        display: flex
        align-items: center
        justify-content: center
        width: 410px
        height: 410px
        background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%)
        box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530
        border-radius: 100%
        margin: 0 auto
    &__oval
        display: flex
        align-items: center
        justify-content: center
        width: 366px
        height: 366px
        border-radius: 100% 
        background: #161932
    &__progress
        display: flex
        align-items: center
        justify-content: center
        position: relative
        width: 339px
        height: 339px
        border-radius: 100%
        background: conic-gradient(#F87070 270deg, #161932 90deg)
        &::before
            content: ""
            position: absolute
            display: block
            width: 15px
            border-radius: 100%
            height: 15px
            background-color: #F87070
            top: 0
        &::after
            content: ""
            position: absolute
            display: block
            width: 15px
            border-radius: 100%
            height: 15px
            background-color: #F87070
            left: 0
    &__info
        width: 309px
        height: 309px
        border-radius: 100%
        background-color: #161932
        padding-top: 100px
    &__time
        font-family: 'Kumbh Sans'
        font-weight: 700
        font-size: 100px
        letter-spacing: -5px
        color: #D7E0FF
        text-align: center
    &__btn
        font-family: 'Kumbh Sans'
        font-weight: 700
        font-size: 20px
        letter-spacing: 10px
        text-align: center
        color: #D7E0FF
        margin-top: 5px
        cursor: pointer