.buttons
    padding-top: 60px
    &__wrapper  
        padding: 8px
        display: flex
        align-items: center
        margin: 0 auto
        width: 520px 
        height: 70px
        background: #161932
        border-radius: 31.5px
    &__item
        font-family: 'Kumbh Sans'
        font-weight: 700
        font-size: 18px
        color: rgba(#D7E0FF, 0.4)
        cursor: pointer
        padding: 0 23px
        &_active
            display: flex
            align-items: center
            background-color: #F87070
            padding: 18px 25px
            border-radius: 26.5px
            color: #1E213F